.login-box {
    background-color: aquamarine;
    width: 200px;
    height: 300px;
    border: 1px solid black;
}
.create-login {
    background-color: crimson;
    width: 200px;
    height: 300px;
    border: 1px solid black;
}
.login-box form input {
    align-content: center;
    
}