.login-box {
    background-color: aquamarine;
    width: 400px;
    height: 500px;
    border: 1px solid pink:
}
.create-login {
    background-color: crimson;
    width: 400px;
    height: 500px;
    border: 1px solid pink;
}