/* body > nav > div > a {
    color:chartreuse;
} */
/* body > div .box {
    display: flex;
    justify-content: space-between;
} */
.box {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    position: relative;
}
#box1 {
    background-color: seagreen;
    transition-property: background-color;
    transition-duration: 1s;
    left: 100px;
 }
 #box1:hover {
    background-color: rgb(246, 242, 3);
 }

 #box2 {
    background-color:deeppink;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    left: 300px;
    bottom: 150px;
 }
 #box2:hover {
    transform: translate(-100px,300px) rotate(360deg) scale(2);
 }
 .cakes {
    position: relative;
    /* left: 150px; */
    width: 100px;
    bottom: 100px;
 }
 .pies {
    position: relative;
    left: 380px;
    width: 150px;
    bottom: 50px;
 }
