body {
    background-color: seagreen;
}
.login-box {
    position: relative;
    background-color:skyblue;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}
.create-login {
    position: relative;
    left: 300px;
    bottom: 342px;
    background-color:dodgerblue;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}
/* .login-box form input {
    align-content: center;
    
} */
